:root {
    --primary-color: #56a326;
    --primary-color-dark: #245f00;
    --light-color: #9cb19a;
    --dark-color: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.light {
    background-color: var(--light-color);
    color: var(--dark-color);
}

.dark {
    background-color: #1a1a1a;
    color: var(--primary-color);
}

/* Navbar base styles */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    margin: 0 auto;
}

.navbar-title {
    font-size: 2rem;
    font-weight: 800;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo {
    width: 3rem;
    height: auto;

}

.nav-logo-title {
    display: block;
}

/* Light theme styles */
.light-nav {
    background-color: var(--light-color);
    color: var(--dark-color);
}

.light-nav .navbar-title {
    color: var(--dark-color);
}

/* Dark theme styles */
.dark-nav {
    background-color: var(--dark-color);
    color: var(--primary-color);
}

.dark-nav .navbar-title {
    color: var(--primary-color);
}

/* Theme toggle button */
.theme-toggle {
    background: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: all 0.3s ease-in;
    margin-right: 1rem;
}

.light-nav .theme-toggle {
    color: var(--dark-color);
    background-color: var(--light-color);
    border: .5px solid var(--dark-color);
}

.dark-nav .theme-toggle {
    color: var(--primary-color);
    background-color: #333333;
    border: .5px solid var(--light-color);
}

.theme-toggle:hover {
    opacity: 0.8;
}

/*Footer*/
.Footer {
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    font-size: 1rem;
    font-weight: 400;
    bottom: 0;
    left: 0;
    margin-top: auto;
    background-color: #00000048;
}

/*Text styles */
.text-container {
    padding: 2rem;
    padding-top: 16rem;
    width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease-in, background-color 0.3s ease-in;
    position: relative;
}

.text-box {
    width: 70%;
    max-width: 800px;
    max-height: 70%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    border: 1px solid #414141;
    background-color: transparent;
    font-size: 1.25rem;
    transition: color 0.3s ease-in, background-color 0.3s ease-in;
}



.text-box:focus {
    outline: none;
    border-color: #184905;
}

.text-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem;
    gap: 1rem;

}

.text-info {
    padding: 1rem;
    padding-bottom: 8rem;
}

/*Find and replace Section*/
.find-replace {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    max-width: 800px;
    padding: 1rem;
    gap: 1rem;
}

.find-replace input {
    padding: 10px;
    border-radius: 5px;
    font-size: clamp(16px, 1.5vh, 24px);;
    transition: color 0.3s ease-in, background-color 0.3s ease-in;
}

.find-replace input:focus{
    outline: none;
    box-shadow: 5px 5px 0 0 #000000a1;
}

.show {
    display: flex;
}

.hide {
    display: none;
}

/* Button styles */

.button {
    color: var(--primary-color);
    font-size: clamp(15px, 1.5vh, 20px);
    background: #353535a1;
    border: 0.1px solid var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    box-shadow: 7px 9px 0px #000000a1;
    transition: all 0.1s ease-in-out;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.button:active {
    box-shadow: 2px 2px 0px #000000a1;
    position: relative;
    top: 2px;
}

.button:hover {
    background-color: #3d9f00;
    color: #ffffff;
    transform: scale(1.05);
}

.button:disabled {
    background: #35353573;
    color: white;
}

/* Toast styles */
.toast-container {
    position: fixed;
    top: 5.5rem;
    right: 1rem;
    z-index: 1000;
}

.toast {
    margin-bottom: 1rem;
    padding: 1rem 1.5rem;
    padding-right: 3rem;
    border-radius: 4px;
    color: white;
    font-size: 1.5vh;
    animation: slideIn 0.3s ease-out;
    position: relative;
}

.toast span {
    font-weight: bold;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;

}

.toast.success {
    background-color: var(--primary-color);
}

.toast.error {
    background-color: #f44336;
}

.toast.info {
    background-color: #568539;
}


@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/*Small screen styles */
@media (max-width: 768px) {
    .text-box {
        width: 90%;
        font-size: 1rem;
    }

    .find-replace {
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }

    .toast-container {
        top: auto;
        bottom: .5rem;
        right: .5rem;
    }

     .button{
        box-shadow: .4rem .45rem 0px #000000a1;
    }

}

@media (max-width: 450px) {
    .theme-toggle {
        margin-right: 0.5rem;
    }

    .nav-logo-title {
        display: none;
    }

    .text-container {
        padding: .5rem;
        padding-top: 10rem;
    }

    .button {
        padding: 5px;

    }

    .find-replace input {
        padding: 5px;
    }

    .button{
        box-shadow: .2rem .25rem 0px #000000a1;
    }
    .Footer{
        padding: .5rem 0;
    }

}